.container {
  width: 800px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
}

.kiri {
  width: 150px;
  height: 500px;
  background-color: salmon;
  float: left;
}

.tengah {
  width: 500px;
  background-color: lightblue;
  height: 500px;
  float: left;
}

.kanan {
  width: 150px;
  background-color: red;
  height: 500px;
  float: left;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
